.product1intro-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 600px; 
    width: 100%;
    overflow: hidden;
}

.product1intro-left-module1 {
    height: 550px;
    width: 550px;
    position: relative;
    left: -0.55%;
    top: 6.8%;
    background-color: white; 
    border: none;
    overflow: hidden;
}
.video-placeholder {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #ccc;
    margin-bottom: 20px;
    outline: none;
}
.video-placeholder:focus{
    outline: none;
}
.product1intro-right-module1 {
    padding: 40px;
    height: 540px;
    width: 910px;
    position: relative;
    left: 1.1%;
    top: 5.9%;
}
.light-product1introright1{
    background-color: rgb(232, 232, 232); 
    color: rgb(30, 30, 30); 
    transition: all 0.5s;
}
.dark-product1introright1{
    background-color: #676767; 
    color: #ececec; 
    transition: all 0.5s;
}

.product1intro-container2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 350px; 
    width: 100%;
    overflow: hidden;
}

.product1intro-left-module2 {
    padding: 40px;
    height: 320px;
    width: 710px;
    position: relative;
    left: -0.5%;
    top: 2.9%;
    background-color: rgb(232, 232, 232); 
    color: rgb(30, 30, 30); 
}
.light-product1introleft2{
    background-color: rgb(232, 232, 232); 
    color: rgb(30, 30, 30); 
    transition: all 0.5s;
}
.dark-product1introleft2{
    background-color: #676767; 
    color: #ececec; 
    transition: all 0.5s;
}

.product1intro-right-module2 {
    padding: 40px;
    height: 320px;
    width: 755px;
    position: relative;
    left: 1%;
    top: 2.9%;
    background-color: rgb(232, 232, 232); 
    color: rgb(30, 30, 30); 
}
.light-product1introright2{
    background-color: rgb(232, 232, 232); 
    color: rgb(30, 30, 30); 
    transition: all 0.5s;
}
.dark-product1introright2{
    background-color: #676767; 
    color: #ececec; 
    transition: all 0.5s;
}

.product1intro-txttitle{
    font-size: 30px;
    position: relative;
    left: 10px;
    top: 20px;
}
.product1intro-txt{
    font-size: 20px;
    position: relative;
    left: 10px;
    top: 40px;
}
.product1intro-txt1{
    font-size: 20px;
    position: relative;
    left: 10px;
    top: 40px;
    display: inline;
    border-bottom: 3px solid rgb(128, 124, 124);
}